<div class="sample" layout="column" ng-cloak style="width: inherit">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="10th class">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>10th Percentage</label>
                        <input name="score" ng-model="user_marks.tenth_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="12th class">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>12th Percentage</label>
                        <input name="score" ng-model="user_marks.tw_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="1st Sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>1st sem</label>
                        <input name="score" ng-model="user_marks.sem1_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="2nd sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>2nd sem</label>
                        <input name="score" ng-model="user_marks.sem2_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="3rd sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>3rd sem</label>
                        <input name="score" ng-model="user_marks.sem3_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="4th sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>4th sem</label>
                        <input name="score" ng-model="user_marks.sem4_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="5th sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>5th sem</label>
                        <input name="score" ng-model="user_marks.sem5_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="6th sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>6th sem</label>
                        <input name="score" ng-model="user_marks.sem6_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="7th sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>7th sem</label>
                        <input name="score" ng-model="user_marks.sem7_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="8th sem">
                <md-content class="md-padding">
                    <md-input-container class="md-block" flex-gt-xs="">
                        <label>8th sem</label>
                        <input name="score" ng-model="user_marks.sem8_score" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2" ng-disabled="!editableInput">
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <div class="sample" layout="row" layout-align="center">
        <md-button class="md-raised md-warn" ng-click="editableInput=true; ">EDIT</md-button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <md-button class="md-raised " ng-click="editableInput=false; updateMarks(); ">SAVE</md-button>
    </div>
</div>
